ul.menu-emisoras li.selected {
	background-color: #51327E;
}

p.text-mini {
	font-size: 10px;
	vertical-align: middle;
}

table tr td p {
	font-size: 12px;
	font-family: Arial;
	margin: 0;
}

table#table-permisos {
	font-family: 'Titillium';
}

table#table-permisos thead tr {
	background-color: #EDEDED;
	font-size: 18pt;
	font-weight: lighter;
	padding: 5px 0px;
}

table#table-permisos td {
	border-right: 1px solid #1D1D1B;
}

table#table-permisos tr td:last-child {
	border:none;
}

table#table-permisos tbody tr td label {
	display: block;
	font-size: 14px;
	width: 110px;
	height: 30px;
	margin: 0 auto;
	text-align: left;
}

label.permiso-si {
	background: url('images/icon-si.png');
	background-repeat: no-repeat;
	background-position: top right;
}

label.permiso-no {
	background: url('images/icon-no.png');
	background-repeat: no-repeat;
	background-position: top right;
}

div.title-promos-jingles label {
	float: left;
	font-family: 'Titillium';
	font-size: 12pt;
	width: 150px;
}

div.title-promos-jingles h1 {
	width: 10px !important;
	font-size: 30pt !important;
	line-height: 35px;
}

table#table-promo-jingles thead tr {
	background-color: #EDEDED;
	font-size: 18pt;
	font-weight: lighter;
	padding: 5px 0px;
	font-family: 'TitilliumWebLight';
}

table#table-promo-jingles thead tr td {
	border-top: none;
}

table#table-promo-jingles td {
	border: 1px solid #575756;
}

table#table-promo-jingles tbody td {
	font-family: Arial;
	font-size: 10pt;
}

table#emisora-asignada {
	font-family: 'Titillium';
}

table#emisora-asignada td {
	border-right: 1px solid #575756;
}

table#emisora-asignada td h3 {
	float: left;
	margin: 0;
}

table#emisora-asignada tr td:last-child {
	border:none;
}

